doctype html
html(lang='ru')
  block title
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='Description', content='Личный блог Типотека')
    title= title
    link(rel='preload', href='/fonts/Inter-Regular.woff2', as='font', crossorigin='anonymous')
    link(rel='preload', href='/fonts/Inter-Medium.woff2', as='font', crossorigin='anonymous')
    link(rel='preload', href='/fonts/SFProDisplay-Regular.woff2', as='font', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.min.css')
  body
    block content
