extends ../layout
include ../partials/sign-in-popup

block title
  - const title = 'registration'
block content
  .wrapper
    +header()
    main
      h1.visually-hidden Регистрация пользователя
      +signInPopup(false, validation)
    include ../partials/footer
    script(src="/js/main.js")
